absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
aistudio-sdk==0.3.8
annotated-types==0.7.0
anyio==4.11.0
astunparse==1.6.3
attrs==25.4.0
bce-python-sdk==0.9.50
beautifulsoup4==4.14.2
blinker==1.9.0
certifi==2025.10.5
cffi==2.0.0
chardet==3.0.4
charset-normalizer==3.4.4
click==8.1.8
cloudscraper==1.2.71
colorama==0.4.6
colorlog==6.10.1
comtypes==1.4.13
contourpy==1.3.3
cycler==0.12.1
decorator==4.4.2
deep-translator==1.11.4
deepface==0.0.75
distro==1.9.0
easyocr==1.7.2
edge-tts==7.2.3
ffmpeg-python==0.2.0
Flask==3.0.3
filelock==3.20.0
fire==0.7.1
flatbuffers==25.9.23
fonttools==4.60.1
frozenlist==1.8.0
fsspec==2025.10.0
future==1.0.0
gunicorn
gast==0.6.0
gdown==5.2.0
google-pasta==0.2.0
googletrans==4.0.0rc1
greenlet==3.2.4
grpcio==1.76.0
gTTS==2.5.4
h11==0.9.0
h2==3.2.0
h5py==3.15.1
hpack==3.0.0
hstspreload==2025.1.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.36.0
hyperframe==5.2.0
idna==2.10
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
imagesize==1.4.1
itsdangerous==2.2.0
jax==0.7.1
jaxlib==0.7.1
Jinja2==3.1.6
jiter==0.11.1
joblib==1.5.2
kiwisolver==1.4.9
lazy_loader==0.4
libclang==18.1.1
llvmlite==0.45.1
lz4==4.4.5
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.7
mdurl==0.1.2
mediapipe==0.10.14
ml_dtypes==0.5.3
modelscope==1.31.0
more-itertools==10.8.0
moviepy==1.0.3
mpmath==1.3.0
mtcnn==1.0.0
multidict==6.7.0
namex==0.1.0
networkx==3.5
ninja==1.13.0
numba==0.62.1
numpy==2.2.6
openai==2.7.1
openai-whisper==20250625
opencv-contrib-python==4.10.0.84
opencv-python==4.11.0.86
opencv-python-headless==4.12.0.88
opt-einsum==3.3.0
optree==0.17.0
packaging==25.0
paddlex==3.3.9
pandas==2.3.3
pillow==11.3.0
playwright==1.55.0
prettytable==3.16.0
proglog==0.1.12
propcache==0.4.1
protobuf==4.25.8
psutil==7.1.3
py-cpuinfo==9.0.0
pyclipper==1.3.0.post6
pycparser==2.23
pycryptodome==3.23.0
pydantic==2.12.4
pydantic_core==2.41.5
pydub==0.25.1
pyee==13.0.0
Pygments==2.19.2
pyparsing==3.2.5
pypdfium2==5.0.0
pypiwin32==223
PySocks==1.7.1
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pyttsx3==2.99
pytz==2025.2
pywin32==311
PyYAML==6.0.2
regex==2025.11.3
requests==2.32.5
requests-toolbelt==1.0.0
retina-face==0.0.17
rfc3986==1.5.0
rich==14.2.0
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.14
safetensors==0.6.2
scikit-image==0.25.2
scipy==1.16.3
sentencepiece==0.2.1
shapely==2.1.2
six==1.17.0
sniffio==1.3.1
sounddevice==0.5.3
soupsieve==2.8
SpeechRecognition==3.14.3
sympy==1.14.0
tabulate==0.9.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.2.0
tifffile==2025.10.16
tiktoken==0.12.0
tokenizers==0.22.1
torch==2.9.0
torchvision==0.24.0
tqdm==4.67.1
transformers==4.57.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
ujson==5.11.0
urllib3==2.5.0
wcwidth==0.2.14
Werkzeug==3.1.3
whisper==1.1.10
wrapt==2.0.1
yarl==1.22.0
